In [2]:
%load_ext autoreload
%autoreload 2

import warnings
from utility.data_processor_helpers import *
from config.paths import RAW_PATH, INTERMEDIATE_PATH
from pandas.tseries.offsets import BMonthEnd

warnings.filterwarnings(action="ignore")

In [13]:
df

,underlying_last,expiry,dte,strike,strike_distance,strike_distance_pct,c_delta,p_delta,c_gamma,p_gamma,...,c_last,p_last,c_bid,p_bid,c_ask,p_ask,c_size_bid,p_size_bid,c_size_ask,p_size_ask
date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,1132.99,2010-01-07,3.0,925.0,208.0,0.184,1.00000,-0.00077,0.00000,0.00004,...,0.00,0.05,205.99,0.00,208.99,0.06,101.0,0.0,101.0,420.0
2010-01-04,1132.99,2010-01-07,3.0,950.0,183.0,0.162,1.00000,-0.00203,0.00000,0.00006,...,0.00,0.05,181.00,0.00,184.00,0.10,101.0,0.0,101.0,455.0
2010-01-04,1132.99,2010-01-07,3.0,975.0,158.0,0.139,1.00000,-0.00369,0.00000,0.00022,...,0.00,0.10,156.00,0.05,159.00,0.10,101.0,717.0,101.0,177.0
2010-01-04,1132.99,2010-01-07,3.0,1000.0,133.0,0.117,1.00000,-0.00894,0.00000,0.00038,...,0.00,0.15,131.10,0.15,134.10,0.21,101.0,470.0,101.0,98.0
2010-01-04,1132.99,2010-01-07,3.0,1025.0,108.0,0.095,1.00000,-0.01251,0.00000,0.00066,...,0.00,0.20,106.21,0.20,109.20,0.25,101.0,428.0,101.0,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,3756.31,2023-12-15,1079.0,6100.0,2343.7,0.624,0.04870,-0.97152,0.00009,0.00000,...,0.00,0.00,10.00,2375.50,30.00,2447.50,25.0,5.0,20.0,5.0
2020-12-31,3756.31,2023-12-15,1079.0,6200.0,2443.7,0.651,0.04492,-0.97169,0.00006,0.00000,...,0.00,0.00,8.30,2471.00,28.30,2542.99,25.0,5.0,20.0,5.0
2020-12-31,3756.31,2023-12-15,1079.0,6300.0,2543.7,0.677,0.04203,-0.97145,0.00008,0.00000,...,0.00,2636.86,6.80,2568.00,26.80,2639.99,25.0,5.0,20.0,5.0
2020-12-31,3756.31,2023-12-15,1079.0,6400.0,2643.7,0.704,0.04415,-0.97101,0.00003,0.00000,...,15.04,2734.16,12.01,2664.51,25.49,2736.49,4.0,5.0,20.0,5.0
2020-12-31,3756.31,2023-12-15,1079.0,6500.0,2743.7,0.730,0.03564,-0.97111,0.00003,0.00000,...,0.00,0.00,4.30,2759.00,24.30,2831.00,25.0,5.0,20.0,5.0

In [6]:
df = reshape_options_long_to_wide(df)

In [11]:
df

,underlying_last,expiry,dte,strike,strike_distance,strike_distance_pct,c_delta,p_delta,c_gamma,p_gamma,...,c_last,p_last,c_bid,p_bid,c_ask,p_ask,c_size_bid,p_size_bid,c_size_ask,p_size_ask
date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,1132.99,2010-01-07,3.0,925.0,208.0,0.184,1.00000,-0.00077,0.00000,0.00004,...,0.0,0.05,205.99,0.00,208.99,0.06,101.0,0.0,101.0,420.0
2010-01-04,1132.99,2010-01-07,3.0,950.0,183.0,0.162,1.00000,-0.00203,0.00000,0.00006,...,0.0,0.05,181.00,0.00,184.00,0.10,101.0,0.0,101.0,455.0
2010-01-04,1132.99,2010-01-07,3.0,975.0,158.0,0.139,1.00000,-0.00369,0.00000,0.00022,...,0.0,0.10,156.00,0.05,159.00,0.10,101.0,717.0,101.0,177.0
2010-01-04,1132.99,2010-01-07,3.0,1000.0,133.0,0.117,1.00000,-0.00894,0.00000,0.00038,...,0.0,0.15,131.10,0.15,134.10,0.21,101.0,470.0,101.0,98.0
2010-01-04,1132.99,2010-01-07,3.0,1025.0,108.0,0.095,1.00000,-0.01251,0.00000,0.00066,...,0.0,0.20,106.21,0.20,109.20,0.25,101.0,428.0,101.0,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-30,1257.91,2014-12-18,1084.0,2100.0,842.1,0.669,0.03400,-0.94657,0.00023,0.00000,...,0.0,0.00,3.50,878.49,5.51,890.51,25.0,10.0,10.0,10.0
2011-12-30,1257.91,2014-12-18,1084.0,2200.0,942.1,0.749,0.02074,-0.94622,0.00013,0.00000,...,0.0,0.00,1.85,974.20,3.09,986.20,25.0,10.0,35.0,10.0
2011-12-30,1257.91,2014-12-18,1084.0,2250.0,992.1,0.789,0.01611,-0.94568,0.00014,0.00000,...,0.0,0.00,1.36,1022.50,2.29,1034.50,25.0,10.0,25.0,10.0
2011-12-30,1257.91,2014-12-18,1084.0,2500.0,1242.1,0.987,0.00616,-0.94652,0.00005,0.00000,...,0.0,1265.35,0.39,1265.70,1.00,1277.70,1000.0,10.0,25.0,10.0
2011-12-30,1257.91,2014-12-18,1084.0,3000.0,1742.1,1.385,0.00275,-0.94602,0.00002,0.00000,...,0.0,0.00,0.10,1753.31,0.45,1765.29,1000.0,10.0,25.0,10.0

In [12]:
option_path = "spx_options"
start_year = 2010
end_year = 2020

df = load_options(RAW_PATH / option_path, start_year=start_year, end_year=end_year)
df = clean_data(df)
df = reshape_options_long_to_wide(df)

output_file = INTERMEDIATE_PATH / f"full_{option_path}_{start_year}_{end_year}.parquet"
df.to_parquet(output_file, index=True)

Processing year: 2010
  ➤ Extracting spx_eod_2010-hixkhi.7z
Reading tmp/spx_eod_201006.txt
Reading tmp/spx_eod_201012.txt
Reading tmp/spx_eod_201007.txt
Reading tmp/spx_eod_201011.txt
Reading tmp/spx_eod_201005.txt
Reading tmp/spx_eod_201004.txt
Reading tmp/spx_eod_201010.txt
Reading tmp/spx_eod_201001.txt
Reading tmp/spx_eod_201003.txt
Reading tmp/spx_eod_201002.txt
Reading tmp/spx_eod_201009.txt
Reading tmp/spx_eod_201008.txt
Processing year: 2011
  ➤ Extracting spx_eod_2011-mpv77a.7z
Reading tmp/spx_eod_201111.txt
Reading tmp/spx_eod_201105.txt
Reading tmp/spx_eod_201104.txt
Reading tmp/spx_eod_201110.txt
Reading tmp/spx_eod_201106.txt
Reading tmp/spx_eod_201112.txt
Reading tmp/spx_eod_201107.txt
Reading tmp/spx_eod_201103.txt
Reading tmp/spx_eod_201102.txt
Reading tmp/spx_eod_201101.txt
Reading tmp/spx_eod_201109.txt
Reading tmp/spx_eod_201108.txt
Processing year: 2012
  ➤ Extracting spx_eod_2012-ftrobg.7z
Reading tmp/spx_eod_201204.txt
Reading tmp/spx_eod_201210.txt
Reading tmp/spx_eod_201211.txt
Reading tmp/spx_eod_201205.txt
Reading tmp/spx_eod_201207.txt
Reading tmp/spx_eod_201206.txt
Reading tmp/spx_eod_201212.txt
Reading tmp/spx_eod_201202.txt
Reading tmp/spx_eod_201203.txt
Reading tmp/spx_eod_201201.txt
Reading tmp/spx_eod_201208.txt
Reading tmp/spx_eod_201209.txt
Processing year: 2013
  ➤ Extracting spx_eod_2013-3p7m9u.7z
Reading tmp/spx_eod_201307.txt
Reading tmp/spx_eod_201306.txt
Reading tmp/spx_eod_201312.txt
Reading tmp/spx_eod_201304.txt
Reading tmp/spx_eod_201310.txt
Reading tmp/spx_eod_201311.txt
Reading tmp/spx_eod_201305.txt
Reading tmp/spx_eod_201301.txt
Reading tmp/spx_eod_201302.txt
Reading tmp/spx_eod_201303.txt
Reading tmp/spx_eod_201308.txt
Reading tmp/spx_eod_201309.txt
Processing year: 2014
  ➤ Extracting spx_eod_2014-4ky8n2.7z
Reading tmp/spx_eod_201402.txt
Reading tmp/spx_eod_201403.txt
Reading tmp/spx_eod_201401.txt
Reading tmp/spx_eod_201404.txt
Reading tmp/spx_eod_201410.txt
Reading tmp/spx_eod_201411.txt
Reading tmp/spx_eod_201405.txt
Reading tmp/spx_eod_201407.txt
Reading tmp/spx_eod_201406.txt
Reading tmp/spx_eod_201412.txt
Reading tmp/spx_eod_201408.txt
Reading tmp/spx_eod_201409.txt
Processing year: 2015
  ➤ Extracting spx_eod_2015-amtjlk.7z
Reading tmp/spx_eod_201501.txt
Reading tmp/spx_eod_201502.txt
Reading tmp/spx_eod_201503.txt
Reading tmp/spx_eod_201507.txt
Reading tmp/spx_eod_201506.txt
Reading tmp/spx_eod_201512.txt
Reading tmp/spx_eod_201504.txt
Reading tmp/spx_eod_201510.txt
Reading tmp/spx_eod_201511.txt
Reading tmp/spx_eod_201505.txt
Reading tmp/spx_eod_201508.txt
Reading tmp/spx_eod_201509.txt
Processing year: 2016
  ➤ Extracting spx_eod_2016-rctzlw.7z
Reading tmp/spx_eod_201601.txt
Reading tmp/spx_eod_201603.txt
Reading tmp/spx_eod_201602.txt
Reading tmp/spx_eod_201606.txt
Reading tmp/spx_eod_201612.txt
Reading tmp/spx_eod_201607.txt
Reading tmp/spx_eod_201611.txt
Reading tmp/spx_eod_201605.txt
Reading tmp/spx_eod_201604.txt
Reading tmp/spx_eod_201610.txt
Reading tmp/spx_eod_201609.txt
Reading tmp/spx_eod_201608.txt
Processing year: 2017
  ➤ Extracting spx_eod_2017-xspity.7z
Reading tmp/spx_eod_201703.txt
Reading tmp/spx_eod_201702.txt
Reading tmp/spx_eod_201701.txt
Reading tmp/spx_eod_201711.txt
Reading tmp/spx_eod_201705.txt
Reading tmp/spx_eod_201704.txt
Reading tmp/spx_eod_201710.txt
Reading tmp/spx_eod_201706.txt
Reading tmp/spx_eod_201712.txt
Reading tmp/spx_eod_201707.txt
Reading tmp/spx_eod_201709.txt
Reading tmp/spx_eod_201708.txt
Processing year: 2018
  ➤ Extracting spx_eod_2018-uqawfl.7z
Reading tmp/spx_eod_201809.txt
Reading tmp/spx_eod_201808.txt
Reading tmp/spx_eod_201812.txt
Reading tmp/spx_eod_201806.txt
Reading tmp/spx_eod_201807.txt
Reading tmp/spx_eod_201805.txt
Reading tmp/spx_eod_201811.txt
Reading tmp/spx_eod_201810.txt
Reading tmp/spx_eod_201804.txt
Reading tmp/spx_eod_201801.txt
Reading tmp/spx_eod_201803.txt
Reading tmp/spx_eod_201802.txt
Processing year: 2019
  ➤ Extracting spx_eod_2019-chxexe.7z
Reading tmp/spx_eod_201909.txt
Reading tmp/spx_eod_201908.txt
Reading tmp/spx_eod_201905.txt
Reading tmp/spx_eod_201911.txt
Reading tmp/spx_eod_201910.txt
Reading tmp/spx_eod_201904.txt
Reading tmp/spx_eod_201912.txt
Reading tmp/spx_eod_201906.txt
Reading tmp/spx_eod_201907.txt
Reading tmp/spx_eod_201903.txt
Reading tmp/spx_eod_201902.txt
Reading tmp/spx_eod_201901.txt
Processing year: 2020
  ➤ Extracting spx_eod_2020-wh6jt7.7z
Reading tmp/spx_eod_202008.txt
Reading tmp/spx_eod_202009.txt
Reading tmp/spx_eod_202001.txt
Reading tmp/spx_eod_202002.txt
Reading tmp/spx_eod_202003.txt
Reading tmp/spx_eod_202007.txt
Reading tmp/spx_eod_202012.txt
Reading tmp/spx_eod_202006.txt
Reading tmp/spx_eod_202010.txt
Reading tmp/spx_eod_202004.txt
Reading tmp/spx_eod_202005.txt
Reading tmp/spx_eod_202011.txt

In [ ]:
a = reshape_options_long_to_wide(df.loc["2018"])

In [16]:
df.loc["2018"]

,underlying_last,expiry,dte,strike,strike_distance,strike_distance_pct,delta,gamma,vega,theta,rho,iv,volume,last,bid,ask,option_type,size_bid,size_ask
date,,,,,,,,,,,,,,,,,,,
2018-01-02,2695.87,2018-01-19,17.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2589.51,2595.99,C,4,5
2018-01-02,2695.87,2018-06-15,164.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2569.21,2577.20,C,11,10
2018-01-02,2695.87,2018-12-21,353.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2540.20,2557.21,C,1,1
2018-01-02,2695.87,2019-12-20,717.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,1.0,2481.60,2493.50,2510.10,C,2,1
2018-01-02,2695.87,2020-12-18,1081.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2457.90,2466.80,C,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31,2506.71,2019-09-20,263.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89978,0.0,0.0,NaN,0.0,0.00,1651.60,1661.90,P,100,100
2018-12-31,2506.71,2019-09-30,273.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89992,0.0,0.0,NaN,0.0,0.00,1655.40,1674.20,P,1,1
2018-12-31,2506.71,2019-12-20,354.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89959,0.0,0.0,NaN,23.0,1632.00,1634.90,1650.40,P,100,100
2018-12-31,2506.71,2020-06-19,536.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89972,0.0,0.0,NaN,0.0,0.00,1604.31,1625.00,P,100,15
2018-12-31,2506.71,2020-12-18,718.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89963,0.0,0.0,NaN,2.0,1423.66,1583.30,1598.90,P,150,5

In [31]:
a = df.loc["2018"]

In [27]:
a.index.duplicated().sum()

0

In [28]:
a

,date,underlying_last,expiry,dte,strike,strike_distance,strike_distance_pct,delta,gamma,vega,theta,rho,iv,volume,last,bid,ask,option_type,size_bid,size_ask
0,2018-01-02,2695.87,2018-01-19,17.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2589.51,2595.99,C,4,5
1,2018-01-02,2695.87,2018-06-15,164.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2569.21,2577.20,C,11,10
2,2018-01-02,2695.87,2018-12-21,353.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2540.20,2557.21,C,1,1
3,2018-01-02,2695.87,2019-12-20,717.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,1.0,2481.60,2493.50,2510.10,C,2,1
4,2018-01-02,2695.87,2020-12-18,1081.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2457.90,2466.80,C,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5529339,2018-12-31,2506.71,2019-09-20,263.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89978,0.0,0.0,NaN,0.0,0.00,1651.60,1661.90,P,100,100
5529340,2018-12-31,2506.71,2019-09-30,273.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89992,0.0,0.0,NaN,0.0,0.00,1655.40,1674.20,P,1,1
5529341,2018-12-31,2506.71,2019-12-20,354.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89959,0.0,0.0,NaN,23.0,1632.00,1634.90,1650.40,P,100,100
5529342,2018-12-31,2506.71,2020-06-19,536.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89972,0.0,0.0,NaN,0.0,0.00,1604.31,1625.00,P,100,15
5529343,2018-12-31,2506.71,2020-12-18,718.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89963,0.0,0.0,NaN,2.0,1423.66,1583.30,1598.90,P,150,5

In [33]:
a

,date,underlying_last,expiry,dte,strike,strike_distance,strike_distance_pct,delta,gamma,vega,theta,rho,iv,volume,last,bid,ask,option_type,size_bid,size_ask
0,2018-01-02,2695.87,2018-01-19,17.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2589.51,2595.99,C,4,5
1,2018-01-02,2695.87,2018-06-15,164.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2569.21,2577.20,C,11,10
2,2018-01-02,2695.87,2018-12-21,353.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2540.20,2557.21,C,1,1
3,2018-01-02,2695.87,2019-12-20,717.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,1.0,2481.60,2493.50,2510.10,C,2,1
4,2018-01-02,2695.87,2020-12-18,1081.0,100.0,2595.9,0.963,1.0,0.0,0.00000,0.0,0.0,NaN,0.0,0.00,2457.90,2466.80,C,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5529339,2018-12-31,2506.71,2019-09-20,263.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89978,0.0,0.0,NaN,0.0,0.00,1651.60,1661.90,P,100,100
5529340,2018-12-31,2506.71,2019-09-30,273.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89992,0.0,0.0,NaN,0.0,0.00,1655.40,1674.20,P,1,1
5529341,2018-12-31,2506.71,2019-12-20,354.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89959,0.0,0.0,NaN,23.0,1632.00,1634.90,1650.40,P,100,100
5529342,2018-12-31,2506.71,2020-06-19,536.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89972,0.0,0.0,NaN,0.0,0.00,1604.31,1625.00,P,100,15
5529343,2018-12-31,2506.71,2020-12-18,718.0,4200.0,1693.3,0.675,-1.0,0.0,-16942.89963,0.0,0.0,NaN,2.0,1423.66,1583.30,1598.90,P,150,5

In [32]:
if a.index.name == "date":
    a = a.reset_index()

cols_to_include = [
    'date',
    'underlying_last',
    'expiry',
    'dte',
    'strike',
    'strike_distance',
    'strike_distance_pct'
]

non_option_cols = [col for col in df.columns if col in cols_to_include]
wide_df = a.pivot(index=non_option_cols, columns="option_type")
wide_df.columns = [f"{opt.lower()}_{col.lower()}" for col, opt in wide_df.columns]

ValueError: Index contains duplicate entries, cannot reshape